* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
}

#cart-button img {
    max-width: 42px;
    max-height: 42px;
}

#cart-button {
    background: none;
    border: none;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

header {
    margin: 5vh 10vw;
    background-color: aqua;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}